<% include include/header.ejs %>
<a href="/" class="btn_main">메인</a>
<div class="container room">
	<% if (room.start === "대기") { %>
	<h2>생성 시간 : <%= room.name %></h2>
	<ul class="room_info">
		<li>방장 : <%= room.admin %></li>
		<li>참여인원 : <%= room.member.length %>/<%= room.maxMember %></li>
		<li>참가자 :
			<% for (i = 0; i < room.member.length; i++) { %>
			<%= room.member[i] + " " %>
			<% } %>
		</li>
		<li>상태 : <%= room.start %></li>
	</ul>
	<%
		if (user) {
		    var count = 0;
		    for (i = 0; i < room.member.length; i++) {
		        if (room.member[i] === user.user_nick) {
		            count = count + 1;
		        }
		    }
		}
   	%>
		<% if (room.member.length !== room.maxMember && count === 0) { %>
		<form action="/joinRoom?roomId=<%= room._id %>" method="post"><input type="submit" value="참가하기" /></form>
		<% } else if (count !== 0 && room.admin !== user.user_nick) { %>
		<form action="/leaveRoom?roomId=<%= room._id %>" method="post"><input type="submit" value="나가기" /></form>
		<% } if (room.admin === user.user_nick && room.member.length > 1 && room.start !== "진행 중") { %>
		<form action="/startRoom?roomId=<%= room._id %>" method="post"><input type="submit" value="시작" /></form>
		<% } if (room.admin === user.user_nick && room.member.length === 1 && room.start !== "진행 중") { %>
		<form action="/startRoom?roomId=<%= room._id %>" method="post"><input type="submit" value="싱글플레이" /></form>
		<% } if (room.admin === user.user_nick && room.start !== "진행 중") { %>
		<form action="/deleteRoom?roomId=<%= room._id %>" method="post"><input type="submit" value="방폭" /></form>
		<% } %>
	<% } else if (room.select_board === "아직") { %>
	<% for (var i = 0; i < room.player.length; i++) {
            if (room.player[i].nick === user.user_nick) {
                if (room.player[i].board === "아직") { %>
					<div class="select_board">
						<h3>판떼기 고르기</h3>
						<ul>
							<% for (i = 0; i < room.board.length; i++) { %>
							<li class="<%= room.board[i] %>"><a href="#n"><p>Type 
							<strong>
							<% if (i === 0 || i === 5) { %>
								A
							<% } else if (i === 1 || i === 6) { %>
								B
							<% } else if (i === 2 || i === 7) { %>
								C
							<% } else if (i === 3 || i === 8) { %>
								D
							<% } else if (i === 4 || i === 9) { %>
								E
							<% } %>
							</strong>
							<span>
							<% if (i < 5) { %>
								Classic
							<% } else if (i > 4) { %>
								Expert
							<% } %>
							</span></p><img src="/images/<%= room.board[i] %>.jpg" alt="<%= room.board[i] %>" /></a></li>
							<% } %>
							<li class="random_1"><a href="#n"><p>Classic Random (+2 Score)</p><img src="/images/board_random.jpg" alt="?" /></a></li>
							<li class="random_2"><a href="#n"><p>All Random(+3 Score)</p><img src="/images/board_random.jpg" alt="?" /></a></li>
							<li class="random_3"><a href="#n"><p>Expert Random(+4 Score)</p><img src="/images/board_random.jpg" alt="?" /></a></li>
						</ul>
						<form action="/selectBoard?roomId=<%= room._id %>" method="post" class="layer_start"><input type="submit" value="시작" /></form>
					</div>
			<%	}
			}
		}
	%>
	<div>
		<% 
			for (var i = 0; i < room.player.length; i++) {
                var count = 0;
                if (room.player[i].board !== "아직") {
                    count = count + 1;
                    var yet = room.member.length - count;
                    if (count === room.member.length) {
                    	
        %>
        <script>location.href = "";</script>
        <% 
                    }
                }
            }
		%>
		<p class="t_c p_t_20">아직 <%= yet %>명이 판떼기를 안골랐습니다.</p>
		<a href="" class="btn">새로고침</a>
	</div>
	<% } else { %>
	<div class="status">
		<% for (i = 0; i < room.player.length; i++) { %>
			<div class="box">
				<h3 class="player<%= i %>"><%= room.player[i].nick %></h3>
				<ul>
					<li>점수 : <%= room.player[i].score %></li>
				</ul>
			</div>
		<% } %>
		<ul>
			<li>라운드 : <%= room.round %><li>
			<li>남은 엔진 : <% for (var i = 0; i < room.player[0].rest_engine; i++) { %><span class="ball"><%= i+1 %></span><% } %><li>
		</ul>
		<% if (room.round === 11) { %>
			게임 끝
		<% } %>
	</div>
	<div class="board">
		<% if (room.player[0].select_engine === "아직") { %>
		<div class="select_engine">
			<a href="#n"><img src="/images/<%= room.player[0].tile_engine[room.round - 1].name %>.jpg" id="<% if (room.player[0].tile_engine[room.round -1].bonus !== "") %><%= room.player[0].tile_engine[room.round -1].bonus %>" alt="<%= room.player[0].tile_engine[room.round - 1].name %>" /></a>
			<form method="post" class="layer_start"><input type="submit" value="선택" /></form>
		</div>
		<% } %>
		<% for (var k = 0; k < room.member.length; k++) { %>
		<div class="wrap_tile">
			<ul>
				<% for (var m = 0; m < room.player[k].tile_white; m++) { %>
				<li><img src="/images/tile_white.jpg" class="drag tile rotate_0" alt="tile_white" /></li>
				<% } %>
				<% for (var o = 0; o < room.player[k].tile_energy_blue; o++) { %>
				<li><img src="/images/tile_energy_blue.jpg" class="drag tile rotate_0" alt="tile_energy_blue" /></li>
				<% } %>
				<% for (var p = 0; p < room.player[k].tile_energy_green; p++) { %>
				<li><img src="/images/tile_energy_green.jpg" class="drag tile rotate_0" alt="tile_energy_green" /></li>
				<% } %>
				<% for (var q = 0; q < room.player[k].tile_energy_orange; q++) { %>
				<li><img src="/images/tile_energy_orange.jpg" class="drag tile rotate_0" alt="tile_energy_orange" /></li>
				<% } %>
				<% for (var r = 0; r < room.player[k].tile_energy_red; r++) { %>
				<li><img src="/images/tile_energy_red.jpg" class="drag tile rotate_0" alt="tile_energy_red" /></li>
				<% } %>
				<% for (var s = 0; s < room.player[k].tile_option; s++) { %>
				<li><img src="/images/tile_option.jpg" class="drag tile_engine rotate_0" alt="tile_option" /></li>
				<% } %>
				<li>
					<% for (var t = 0; t < room.tile_black; t++) { %>
					<img src="/images/tile_black.jpg" class="drag tile tile_black rotate_0" alt="tile_black" />
					<% } %>
				</li>
				<li>
					<% for (var u = 0; u < room.tile_way_1; u++) { %>
					<img src="/images/tile_way_1.jpg" class="drag tile tile_way_1 rotate_0" alt="tile_way_1" />
					<% } %>
				</li>
				<li>
					<% for (var v = 0; v < room.tile_way_2; v++) { %>
					<img src="/images/tile_way_2.jpg" class="drag tile tile_way_2 rotate_0" alt="tile_way_2" />
					<% } %>
				</li>
				<li>
					<% for (var w = 0; w < room.tile_way_3; w++) { %>
					<img src="/images/tile_way_3.jpg" class="drag tile tile_way_3 rotate_0" alt="tile_way_3" />
					<% } %>
				</li>
				<li>
					<% for (var x = 0; x < room.tile_way_4; x++) { %>
					<img src="/images/tile_way_4.jpg" class="drag tile tile_way_4 rotate_0" alt="tile_way_4" />
					<% } %>
				</li>
				<li>
					<% for (var y = 0; y < room.tile_way_5; y++) { %>
					<img src="/images/tile_way_5.jpg" class="drag tile tile_way_5 rotate_0" alt="tile_way_5" />
					<% } %>
				</li>
				<li>
					<% for (var z = 0; z < room.tile_way_6; z++) { %>
					<img src="/images/tile_way_6.jpg" class="drag tile tile_way_6 rotate_0" alt="tile_way_6" />
					<% } %>
				</li>
				<% if (room.player[0].select_engine !== "아직") { %>
				<li><img src="/images/<%= room.player[0].tile_engine[room.round - 1].name %>.jpg" class="drag tile_engine selected_engine rotate_0" alt="<%= room.player[0].tile_engine[room.round - 1].name %>" /></li>
				<% } %>
				<% 
					for (var t = 0; t < room.player[0].build.length; t++) {
						if (room.player[0].build[t].tile !== "") { 
				%>
							<li><img src="/images/<%= room.player[0].build[t].tile %>.jpg" class="drag tile saved pos_<%= room.player[0].build[t].row %>_<%= room.player[0].build[t].col %> rotate_<%= room.player[0].build[t].rotate %>" id="<%= room.player[0].build[t].row %>-<%= room.player[0].build[t].col %>" alt="<%= room.player[0].build[t].tile %>" /></li>
				<% 		}
					}
				%>
			</ul>
		</div>
		<div class="board_tile"></div>
		<h3><%= room.member[k] %><% var board = room.player[k].board.replace('board_', 'Type ').replace('_', ' ').toUpperCase(); %>(<%= board %>)</h3>
		<table class="<%= room.player[0].board %>">
			<% for (var i = 1; i <= 10; i++) { %>
			<tr>
				<% for (var j = 1; j <= 10; j++) { %>
				<td id="td_<%= i %>_<%= j %>">
					<span><%= i %>-<%= j %></span>
				</td>
				<% } %>
			</tr>
			<% } %>
		</table>
		<% if (room.player[0].select_engine !== "아직") { %>
		<form method="post"><input type="submit" value="배치완료" class="btn complete" /></form>
		<form action="/giveUp?roomId=<%= room._id %>" method="post"><input type="submit" value="포기하기" class="btn" /></form>
		<% } %>
	</div>
	<% } %>
	<div class="layer_action">
		<span></span>
		<p></p>
		<a href="#n" class="cancel">취소</a>
	</div>
<% } %>
</div>
<script src="/js/jquery.event.drag-2.2.js"></script>
<script src="/js/jquery.event.drop-2.2.js"></script>
<script>
	$(function() {
		$(".select_board a").click(function(e) {
			e.preventDefault();
			$(".select_board a").removeClass("on");
			$(this).addClass("on");
			$(".layer_start").fadeIn(200);
			$(".layer_start").css({"top":$(this).offset().top + 73, "left":$(this).offset().left + 50}, 100);
			$(".layer_start").attr("action","/selectBoard?roomId=<%= room._id %>&board=" + $(this).parent().attr("class"));
		});
		$(".select_engine a").click(function(e) {
			e.preventDefault();
			$(".layer_start").fadeIn(200);
			$(".layer_start").css({"top":$(this).offset().top - 95, "left":$(this).offset().left - 480}, 100);
			$(".layer_start").attr("action","/selectEngine?roomId=<%= room._id %>&engine=" + $(this).find("img").attr("alt") + "&id=" + $(this).find("img").attr("id"));
		});
		var posTop = 307;
		var posLeft = 20;
		var posValue = 70;
		$(".drag").drag(function(ev, dd) {
			$(this).css({
				top: Math.round( dd.offsetY / posValue ) * posValue + 27,
				left: Math.round( dd.offsetX / posValue ) * posValue + 20
			});
		});
		$(".drag").drop(function(ev, dd) {
			$(this).attr("id", "");
			var x = ((parseInt($(this).css("top")) - posTop) / posValue + 1);
			var y = ((parseInt($(this).css("left")) - posLeft) / posValue + 1);
			if (x > 0 && x < 11 && y > 0 && y < 11) {
				$(this).attr("id", (x + "@" + y));
			}
		});
		if ($(".saved").length > 0) {
			for (var i = 0; i < $(".saved").length; i++) {
				$(".saved").eq(i).css({
					top: posValue * ($(".saved").eq(i).attr("class").split('_')[1] - 1) + posTop,
					left: posValue * ($(".saved").eq(i).attr("class").split('_')[2].split(' ')[0] - 1) + posLeft
				});
				if ($(".saved").eq(i).attr("alt").split("_")[0] + "_" + $(".saved").eq(i).attr("alt").split("_")[1] === "tile_engine") {
					$(".saved").eq(i).removeClass("tile").addClass("tile_engine");
				}
			}
			$(".saved").fadeIn();
		}
		$(".drag").dblclick(function() {
			if (!$(this).hasClass("rotate_1") && !$(this).hasClass("rotate_2") && !$(this).hasClass("rotate_3")) {
				$(this).addClass("rotate_1").removeClass("rotate_0");
			} else if ($(this).hasClass("rotate_1")) {
				$(this).addClass("rotate_2");
				$(this).removeClass("rotate_1");
			} else if ($(this).hasClass("rotate_2")) {
				$(this).addClass("rotate_3");
				$(this).removeClass("rotate_2");
			} else if ($(this).hasClass("rotate_3")) {
				$(this).removeClass("rotate_3").addClass("rotate_0");
			}
		});
		$(".complete").click(function(e) {
			e.preventDefault();
			var complete = new Array();
			for (var i = 0; i < $(".wrap_tile img").length; i++) {
				if ($(".wrap_tile img")[i].id) {
					if ($(".wrap_tile img").eq(i).hasClass("saved")) {
						complete.push({ name: $(".wrap_tile img")[i].alt, row: parseInt($(".wrap_tile img")[i].id.split("@")[0]), col: parseInt($(".wrap_tile img")[i].id.split("@")[1]), rotate: parseInt($(".wrap_tile img")[i].className.split("rotate_")[1]), new: "no" });
					} else {
						complete.push({ name: $(".wrap_tile img")[i].alt, row: parseInt($(".wrap_tile img")[i].id.split("@")[0]), col: parseInt($(".wrap_tile img")[i].id.split("@")[1]), rotate: parseInt($(".wrap_tile img")[i].className.split("rotate_")[1]), new: "yes" });
					}
				}
			}
			console.log(complete[0].tileName);
			if (complete.length > 0) {
				$.post("/ajaxSaveTile?roomId=<%= room._id %>", { "complete": complete }, function(data) {
					if (data.result === "성공") {
						alert("배치 완료! " + data.score + "점 획득");
						location.reload();
					} else {
						//alert(data.result);
						console.log(data.needTile);
						for (var i = 0; i < data.needTile.length; i++) {
							var row = data.needTile[i].row;
							var col = data.needTile[i].col;
	                        var color = data.needTile[i].type.split("_")[1];
	                        $(".board #td_" + row + "_" + col).addClass(color);
	                        if (data.needTile[i].type === "black") {
	                        	$(".board #td_" + row + "_" + col).addClass("black");
	                        }
						}
						$(".drag").drop(function(ev, dd) {
							$(".board td").attr("class", "");
						});
					}
				}, "json");	
			} else {
				alert("에너지가 필요합니다.");
			}
		});
	});
</script>
<% include include/footer.ejs %>